<div class="container-fluid text-center">

    <form  [formGroup]="form" (ngSubmit)="createPost()">
        <div class="mb-3">
            <label for="userId" class="form-label">Usuario</label> 
            <input formControlName="userId" type="number" [class]=" form.get('userId')?.valid && form.get('userId') ?.touched? 'form-control is-invalid':'form-control'" id="userId" placeholder="1234">
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Please choose a username.
              </div>
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Titulo</label>
            <input formControlName="title"type="text" class="form-control" id="title" placeholder="pa">
          </div>
        <div class="mb-3">
          <label for="body" class="form-label">Post</label>
          <textarea formControlName="body"class="form-control" id="body" placeholder="En que esta pensando?" required></textarea>
          <div class="invalid-feedback">
            <span *ngIf="form.get('body')?.errors?.['minlength']  "             > Debe ser mayor a qo caracteres</span>

            Ingre un Post
          </div>
        </div>
                     
              <div class="mb-3">
          <button class="btn btn-primary" type="submit" >Anadir Post </button>
        </div>
      </form>


    <h1>Listado de Posts</h1>
    <br>
    <div class="list-group">
        <a class="list-group-item list-group-item-action active" aria-current="true" *ngFor="let post of posts">
            <h5 class="mb-1">{{post.title}}</h5>
            <p class="mb-1">{{post.body}}</p>
            <small>{{post.userId}}</small>
        </a>
    </div>
</div>
